/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-saber-slider-slider {

	background-color: #555;
	padding: 0 10px 10px 10px;
	margin: 0;

}

.wp-block-saber-slider-slider .saber-slider-context-header {

	h5 {
		margin: 0;
		color: #DDD !important;
		font-weight: 500;
		font-size: 1.0em;
	}

	padding: 0;

}

.wp-block-saber-slider-slider .block-editor-inner-blocks {

	width: 100%;
	padding: 0;
	margin: 0;

}
