/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-saber-slider-slide-row {

	border: 1px dotted blue;
	width: 100%;
	min-height: 120px;
	background: #E4E4E4;

}
